.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9rem;
  padding: 0 4.8rem;
  position: relative;
  background: url(https://www.clevelandart.org/sites/default/files/styles/banner/public/banners/1997-99_B_1.jpg?itok=_2RWSgl3);
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.footer {
  padding: 50px;
  background: #eeeeee;
  text-align: center;
}
.main-nav {
  display: flex;
}
.main-nav-list {
  list-style: none;
  /* display: flex; */
  align-items: center;
  color: #333;
}
.main-nav-list li {
  float: left;
  padding: 0 1.5rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.main-nav-list a:hover {
  color: #ffdec1;
}

.search {
  width: 100%;
  margin: 20px;
  text-align: center;
}
.search input,
select {
  padding: 1em 1.5em;
  background-color: #d6d6d6;
  border: 1px #a9a9a9;
  border-radius: 5em;
  outline: none;
  transition: all 0.7s;
  max-width: none;
}
/* result */
.result {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 0px 50px;
}

.list {
  width: 200px;
  float: left;
  margin: 20px 30px;
  text-align: center;
  line-height: 2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.list a {
  color: rgb(104, 104, 104);
  text-decoration: none;
}
.list a:hover {
  color: rgb(62, 62, 62);
}
.list img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.detail {
  margin: 50px 40px 80px 40px;
  text-align: center;
  line-height: 2.5rem;
}
.bigimg img {
  width: 100%;
}
.title {
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.text {
  margin: 50px 40px 80px 40px;
  line-height: 2.5rem;
}
.more {
  width: 100%;
  display: flex;
  margin-bottom: 8rem;
}
.btn {
  margin: 0px auto;
  padding: 1rem;
  border: none;
  border-radius: 5em;
  background: #ffdec1;
  color: rgb(148, 123, 91);
  cursor: pointer;
}
